.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/HilariousDigitalAkitainu-size_restricted.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 910px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: Aclonica;
  font-size: 4.5rem;
  animation-duration: 1000ms;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  margin: 60px auto 0 233px;
}

.u-section-1 .u-text-2 {
  font-family: Aclonica;
  animation-duration: 1000ms;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  margin: 29px auto 0 24px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 10px 0 rgba(0,0,0,0.7);
  font-weight: 700;
  font-family: Aclonica;
  animation-duration: 1000ms;
  margin: 100px auto 0 613px;
  padding: 8px 50px 9px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 10px 0 rgba(0,0,0,0.7);
  font-weight: 700;
  font-family: Aclonica;
  animation-duration: 1000ms;
  margin: -41px auto 60px 321px;
  padding: 8px 36px 9px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 221px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 12px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 401px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 109px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 233px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 193px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 175px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 271px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 110px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}