.u-section-1 {
  background-image: url("images/tQGmYo6.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1269px;
}

.u-section-1 .u-slider-1 {
  min-height: 509px;
  width: 471px;
  box-shadow: 5px 5px 40px 10px rgba(0,0,0,0.6);
  margin: 266px 0 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: 40px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 80px 45px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: Aclonica;
  margin: 41px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Aclonica;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-family: Aclonica;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #38263e, #9d2037);
  border-style: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: 700;
  font-family: Aclonica;
  margin: 39px auto 0;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  right: 0;
}

.u-section-1 .u-text-4 {
  font-family: Aclonica;
  font-size: 6rem;
  animation-duration: 1000ms;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  margin: -407px 589px 0 85px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-family: Aclonica;
  animation-duration: 2500ms;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  font-size: 1.125rem;
  margin: 22px 606px 0 102px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 718px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-1 .u-slider-1 {
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 474px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 506px;
    margin-left: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 75px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 254px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 288px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 663px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 74px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }
}