.u-section-1 {
  background-image: url("images/bonefire.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1269px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 309px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 568px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 5.625rem;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
  font-family: Aclonica;
  animation-duration: 1000ms;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  margin: 78px 29px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  font-family: Aclonica;
  animation-duration: 1000ms;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  margin: 32px -18px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 568px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #8e807a, #241521);
  border-style: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: 700;
  font-family: Aclonica;
  margin: 37px auto 0;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-form-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-label-1 {
  font-family: Aclonica;
}

.u-section-1 .u-input-1 {
  font-family: Aclonica;
}

.u-section-1 .u-label-2 {
  font-family: Aclonica;
}

.u-section-1 .u-input-2 {
  font-family: Aclonica;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #8e807a, #241521);
  font-weight: 700;
  font-family: Aclonica;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}