.u-section-1 {
  background-image: url("images/tQGmYo6.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1269px;
}

.u-section-1 .u-text-1 {
  font-family: Aclonica;
  font-size: 6rem;
  animation-duration: 1000ms;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  width: 466px;
  margin: 247px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #9d2037, #38263e);
  border-style: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: 700;
  font-family: Aclonica;
  margin: 32px auto 60px 0;
  padding: 8px 36px 9px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 718px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 60px;
    margin-left: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 801px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 663px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }
}