.u-section-1 {
  background-image: url("images/3714f5b1a61cb90f5efeef1b3e8019d5.gif");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1290px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Aclonica;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 772px;
  animation-duration: 1000ms;
  margin: 257px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  font-family: Aclonica;
  letter-spacing: normal;
  text-transform: none;
  width: 728px;
  animation-duration: 1000ms;
  margin: 61px auto 0;
}

.u-section-1 .u-form-1 {
  height: 523px;
  width: 570px;
  margin: 47px auto 60px;
}

.u-section-1 .u-label-1 {
  font-family: Aclonica;
}

.u-section-1 .u-input-1 {
  font-family: Aclonica;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-family: Aclonica;
}

.u-section-1 .u-input-2 {
  font-family: Aclonica;
}

.u-section-1 .u-label-3 {
  font-family: Aclonica;
}

.u-section-1 .u-input-3 {
  font-family: Aclonica;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-family: Aclonica;
}

.u-section-1 .u-input-4 {
  font-family: Aclonica;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-family: Aclonica;
}

.u-section-1 .u-input-5 {
  font-family: Aclonica;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-family: Aclonica;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #76b5b5, #2d0f0b);
  border-style: none;
  font-family: Aclonica;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-1 .u-text-1 {
    font-weight: normal;
  }

  .u-section-1 .u-text-2 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    font-size: 1.25rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}