.u-section-1 {
  background-image: url("images/e59717909650f7a71c02087c259c6a00.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 909px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: Aclonica;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  animation-duration: 1000ms;
  margin: 573px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-family: Aclonica;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  animation-duration: 1000ms;
  margin: 20px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 271px;
  }
}