.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/4a222ec32c2d1726af143450062aa07d5811b1bd.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1269px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 931px;
  margin: 120px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 523px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 100px;
}

.u-section-1 .u-image-1 {
  width: 372px;
  height: 434px;
  animation-duration: 2000ms;
  box-shadow: 2px 2px 40px 10px rgba(0,0,0,0.7);
  margin: -30px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 411px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 322px;
  height: 286px;
  animation-duration: 2500ms;
  box-shadow: 2px 2px 40px 10px rgba(0,0,0,0.7);
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 338px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 30px 100px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  font-family: Aclonica;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-size: 4.5rem;
  margin: 0 92px 0 1px;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  font-family: Aclonica;
  margin: 19px 1px 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 422px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-3 {
  height: 308px;
  animation-duration: 2000ms;
  box-shadow: 2px 2px 40px 10px rgba(0,0,0,0.7);
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-4 {
  min-height: 230px;
  background-image: url("images/e6862a85-ea4e-85f5-9b99-15b91b7df262.jpg");
  background-position: 50% 50%;
  animation-duration: 2500ms;
}

.u-section-1 .u-container-layout-5 {
  box-shadow: 2px 2px 40px 10px rgba(0,0,0,0.7);
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 286px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  animation-duration: 1000ms;
  font-family: Aclonica;
  width: 149px;
  margin: 14px auto 0;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  width: 188px;
  animation-duration: 1000ms;
  margin: 19px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #f1c50e, black);
  border-style: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  animation-duration: 2000ms;
  font-weight: 700;
  font-family: Aclonica;
  margin: 4px -15px 0;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  width: 188px;
  animation-duration: 1000ms;
  margin: 4px auto 0;
}

.u-section-1 .u-text-4 {
  animation-duration: 1000ms;
  font-family: Aclonica;
  margin: 12px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-1 .u-image-1 {
    width: 377px;
    height: 493px;
  }

  .u-section-1 .u-text-1 {
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 506px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 325px;
    height: 412px;
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    width: 252px;
    height: 224px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 43px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    min-height: 178px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    width: 144px;
  }

  .u-section-1 .u-line-1 {
    width: 144px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    width: 144px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 416px;
    height: 580px;
    margin-bottom: -168px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 60px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 60px;
  }

  .u-section-1 .u-image-3 {
    height: 328px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    min-height: 471px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 446px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-3 {
    height: 204px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    min-height: 297px;
  }
}