.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/XZcScC0.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1269px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 40px rgba(0,0,0,0.7);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Aclonica;
  width: 861px;
  animation-duration: 1000ms;
  margin: 447px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 1.5rem;
  font-family: Aclonica;
  text-transform: none;
  width: 714px;
  text-shadow: 2px 2px 40px rgba(0,0,0,0.7);
  animation-duration: 1000ms;
  margin: 42px auto 0;
}

.u-section-1 .u-form-1 {
  height: 71px;
  width: 870px;
  margin: 105px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-input-1 {
  font-family: Aclonica;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-input-2 {
  font-family: Aclonica;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #ffa0fd, #3d60e0);
  text-transform: uppercase;
  font-size: 0.875rem;
  width: 100%;
  font-weight: 700;
  font-family: Aclonica;
  border-style: none;
  padding: 11px 31px 12px 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-weight: normal;
  }

  .u-section-1 .u-text-2 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}