.u-section-1 {
  background-image: url("images/giphy.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 910px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: Aclonica;
  font-size: 4.5rem;
  text-shadow: 2px -2px 8px rgba(0,0,0,0.7);
  animation-duration: 1000ms;
  margin: 182px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #87e075, #fdfbff);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 10px 0 rgba(0,0,0,0.7);
  animation-duration: 1000ms;
  margin: 280px auto 60px;
  padding: 8px 36px 9px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 271px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}