.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/UlqMucJ.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1269px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: Aclonica;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  animation-duration: 1000ms;
  width: 485px;
  margin: 290px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-family: Aclonica;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  animation-duration: 1000ms;
  width: 485px;
  margin: 50px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #3e204a, #17172c);
  border-style: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 10px 0 rgba(0,0,0,0.7);
  animation-duration: 1000ms;
  font-weight: 700;
  font-family: Aclonica;
  margin: 153px auto 0;
  padding: 28px 50px 28px 48px;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #3e204a, #17172c);
  border-style: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 10px 0 rgba(0,0,0,0.7);
  animation-duration: 1000ms;
  font-weight: 700;
  font-family: Aclonica;
  margin: 50px auto 60px;
  padding: 28px 50px 28px 48px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1046px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 801px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: -101px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 762px;
  }
}