.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/UlqMucJ.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1272px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: Aclonica;
  width: 485px;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  animation-duration: 1000ms;
  margin: 205px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-family: Aclonica;
  width: 485px;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 468px;
  box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.7);
  animation-duration: 1000ms;
  height: auto;
  margin: 62px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: 61px auto 0;
}

.u-section-1 .u-text-3 {
  font-style: normal;
  font-weight: 700;
  font-family: Aclonica;
  animation-duration: 1000ms;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-family: Aclonica;
  animation-duration: 1000ms;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-family: Aclonica;
  font-size: 1.875rem;
  animation-duration: 1000ms;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  margin: 61px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #3e204a, #17172c);
  border-style: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 10px 0 rgba(0,0,0,0.7);
  animation-duration: 1000ms;
  font-weight: 700;
  font-family: Aclonica;
  margin: 61px auto 0;
  padding: 0 49px;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #3e204a, #17172c);
  border-style: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 10px 0 rgba(0,0,0,0.7);
  animation-duration: 1000ms;
  font-weight: 700;
  font-family: Aclonica;
  margin: 20px auto 0;
  padding: 0 49px;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(to right, #3e204a, #17172c);
  border-style: none;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 10px 0 rgba(0,0,0,0.7);
  animation-duration: 1000ms;
  font-weight: 700;
  font-family: Aclonica;
  margin: 20px auto 60px;
  padding: 0 49px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1049px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 803px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: -101px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 207px;
  }

  .u-section-1 .u-btn-3 {
    margin-bottom: 3px;
  }
}