.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1269px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-family: Aclonica;
  text-shadow: 2px 2px 40px rgba(0,0,0,0.7);
  animation-duration: 2000ms;
  margin: 296px 232px 0 570px;
}

.u-section-1 .u-text-2 {
  font-family: Aclonica;
  text-shadow: 2px 2px 40px rgba(0,0,0,0.7);
  animation-duration: 1000ms;
  font-style: normal;
  margin: 30px 0 0 570px;
}

.u-section-1 .u-image-1 {
  width: 520px;
  height: 665px;
  animation-duration: 1000ms;
  margin: -127px auto 0 0;
}

.u-section-1 .u-form-1 {
  height: 313px;
  margin: -437px 0 60px 570px;
}

.u-section-1 .u-label-1 {
  font-family: Aclonica;
}

.u-section-1 .u-input-1 {
  font-family: Aclonica;
}

.u-section-1 .u-label-2 {
  font-family: Aclonica;
}

.u-section-1 .u-input-2 {
  font-family: Aclonica;
}

.u-section-1 .u-label-3 {
  font-family: Aclonica;
}

.u-section-1 .u-input-3 {
  font-family: Aclonica;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-family: Aclonica;
}

.u-section-1 .u-input-4 {
  font-family: Aclonica;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-family: Aclonica;
}

.u-section-1 .u-input-5 {
  font-family: Aclonica;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #9a3b31, #1a1d2e);
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 457px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 457px;
  }

  .u-section-1 .u-image-1 {
    width: 404px;
    height: 698px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 370px;
  }

  .u-section-1 .u-form-group-4 {
    height: 338px;
    margin: -98px -36px 60px 506px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 321px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 5px;
    margin-right: 260px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 675px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-form-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-form-group-4 {
    margin-left: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 202px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 202px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-form-group-4 {
    margin-left: 306px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 2px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 2px;
  }

  .u-section-1 .u-image-1 {
    height: 414px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-form-1 {
    margin-top: -207px;
  }

  .u-section-1 .u-form-group-4 {
    margin-top: 132px;
    margin-left: 206px;
  }
}