.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/CdrR3Xf.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1269px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 250px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 640px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: none;
  line-height: 52.8px;
  font-weight: 700;
  font-family: Aclonica;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  margin: 120px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  font-family: Aclonica;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  margin: 45px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 640px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 30px 60px;
}

.u-section-1 .u-form-1 {
  margin: 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-family: Aclonica;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  font-family: Aclonica;
}

.u-section-1 .u-input-1 {
  font-family: Aclonica;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
  font-family: Aclonica;
}

.u-section-1 .u-input-2 {
  font-family: Aclonica;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #6a4841, #2e2836);
  font-weight: 700;
  font-family: Aclonica;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 528px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 37px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 137px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    line-height: 1.2;
  }
}