<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" prefix="c">
    <title th:text="#{photo-show.title}">show photo</title>
</head>
<body>
<div>
    <h2>How to fetch image from database using Spring MVC</h2>

    <table class="styled-table">
        <thead>
        <tr>
            <th class=entityField th:text="#{photo.label.id}">Warehouse id</th>
            <th class=entityField th:text="#{photo.label.entry.id}">City Id</th>
            <th class=entityField th:text="#{photo.label}">Photo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="photo : ${photos}">
            <td th:number="${photo.getId()}">1</td>
            <td th:number="${photo.getEntryId()}">2</td>
            <td><img width="100" height="100" src="#" alt="contest_photo"
            th:src="@{/users/entry/{id} (id=${photo.getEntryId()}) }">
                </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
