<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{photo-create.title}">Create photo</title>
</head>
<body>
<div>
    <h2>How to insert image in database using Spring MVC</h2>

    <form action="#" th:action="@{/users/entry}"
    method="post" enctype="multipart/form-data">

<pre>

	Age: <input type="number" name="entryId">

	Photo: <input type="file" name="photo">

	<input type="submit" value="Submit">

</pre>

    </form>
    <br/>
    <br/>

<!--todo
    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
          th:fragment="photo-form" enctype="multipart/form-data" th:enctype="multipart/form-data"
          th:object="${ImageDto}" method="post">

        <label th:text="#{entry.id.label}"> Entry id</label>
        <br/>
        <label>
            <input type="number" th:field="*{entryId}" required/>
            <label class="error" th:errors="*{entryId}"></label>
        </label>

        <br/>
        <br/>
        <label th:text="#{photo.label}"> photo</label>
        <br/>
        <label>
            <input type="file" th:field="*{photo}"/>
        </label>
        <br/>
        <br/>
        <input type="submit" value="Save">

    </form>
    -->
</div>
</body>
</html>
