<!DOCTYPE html>
<html style="font-size: 16px;" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="YOU SHALL NOT...">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Access denied</title>
    <link rel="stylesheet" media="screen"
          href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="stylesheet" media="screen"
          href="../static/access-denied.css" th:href="@{/access-denied.css}">
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
    <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica:400">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/pngjoy.com_pixel-art-camera-transparent-pixel-art-hd-png_13790167.png",
        "sameAs": []
    }</script>
    <meta property="og:title" content="access-denied">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body u-overlap u-overlap-contrast">
<section class="u-clearfix u-image u-shading u-section-1" id="sec-1d99" data-image-width="660" data-image-height="275">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-custom-font u-text u-text-default u-text-1" data-animation-name="fadeIn"
            data-animation-duration="2000" data-animation-delay="0">YOU SHALL NOT... </h1>
        <h3 class="u-align-center u-custom-font u-text u-text-default u-text-2" data-animation-name="fadeIn"
            data-animation-duration="2000" data-animation-delay="1000">Be able to access most of the site's features, so
            consider the option to either:</h3>
        <a href="#" th:href="@{/login}"
           class="u-btn u-btn-round u-button-style u-custom-font u-palette-2-base u-radius-4 u-text-body-alt-color u-btn-1"
           data-animation-name="fadeIn" data-animation-duration="2000" data-animation-delay="2000"
           data-animation-direction="Down">LOGIN</a>
        <a href="#" th:href="@{/register}"
           class="u-btn u-btn-round u-button-style u-custom-font u-palette-2-base u-radius-4 u-text-body-alt-color u-btn-2"
           data-animation-name="fadeIn" data-animation-duration="2000" data-animation-delay="1500"
           data-animation-direction="Down">Register</a>
    </div>
</section>
</body>
</html>