<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Contest:">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Contest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
          crossorigin="anonymous">
    <link rel="stylesheet" media="screen"
          href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="stylesheet" media="screen"
          href="../static/Contests.css" th:href="@{/contest.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
    <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica:400">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/pngjoy.com_pixel-art-camera-transparent-pixel-art-hd-png_13790167.png",
        "sameAs": []
    }</script>
    <meta property="og:title" content="contest">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body u-overlap u-overlap-contrast">
<header class="u-clearfix u-header u-sticky u-header" id="sec-2893" th:insert="index :: index-header"></header>
<section class="u-align-center u-clearfix u-image u-shading u-section-1" id="sec-e3cb" data-image-width="694"
         data-image-height="968">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-text u-text-body-alt-color u-text-1" data-animation-name="fadeIn"
            data-animation-duration="2000" data-animation-delay="0" th:text="'Contest: ' + ${contest.title}">
            Contest</h1>
        <p class="u-custom-font u-text u-text-body-alt-color u-text-2" data-animation-name="fadeIn"
           data-animation-duration="2000" data-animation-delay="1000">Below are the contest entries, take a look!</p>
        <h2 th:text="'Current phase: ' + ${currentPhaseName}" class="u-custom-font u-text u-text-3">Time remaining:</h2>
        <h2 th:unless="${currentPhaseName.equals('Expired')}" class="u-custom-font u-text u-text-3">Time remaining:</h2>
        <br>
        <div th:unless="${currentPhaseName.equals('Expired')}" id="timer"
             class="flex-wrap d-flex justify-content-center">
            <div id="days" class="align-items-center flex-column d-flex justify-content-center"></div>
            <div id="hours" class="align-items-center flex-column d-flex justify-content-center"></div>
            <div id="minutes" class="align-items-center flex-column d-flex justify-content-center"></div>
            <div id="seconds" class="align-items-center flex-column d-flex justify-content-center"></div>
        </div>

        <!--todo submit-->
        <div th:unless="${session.my_role.equals('organiser') || contest.getJuryUsernames().contains(session.my_name)
        || !currentPhaseName.equals('Phase 1')}">
            <a th:unless="${isEnrolled}"
               href="#" th:href="@{/contests/{id}/enroll (id=${contest.getId()}) }"
               data-page-id="157620785"
               class="u-btn u-btn-round u-button-style u-custom-font u-gradient u-hover-palette-1-dark-1 u-none u-radius-4 u-btn-1"
               data-animation-name="fadeIn" data-animation-duration="2000" data-animation-delay="2000">
                Enroll!</a>
        </div>
        <!--        <a th:if="${currentPhaseName.equals('Phase 1')}"-->
        <!--           href="contest-entry-submit.html"-->
        <!--           data-page-id="157620785"-->
        <!--           class="u-btn u-btn-round u-button-style u-custom-font u-gradient u-hover-palette-1-dark-1 u-none u-radius-4 u-btn-1"-->
        <!--           data-animation-name="fadeIn" data-animation-duration="2000" data-animation-delay="2000">Submit your-->
        <!--            entry!</a>-->
        <div class="u-expanded-width u-list u-repeater u-list-1">
            <div th:each="contestEntry : ${contestEntries}"
                 th:style="'background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('+ ${contestEntry.entry.photoLocation} +')'"
                 class="u-container-style u-image u-image-round u-list-item u-radius-10 u-repeater-item u-shading u-image-1"
                 data-image-width="2000" data-image-height="1333" data-animation-name="fadeIn"
                 data-animation-duration="2000">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                    <h1 class="u-custom-font u-text u-text-4" th:text="${contestEntry.entry.title}">Title</h1>
                    <a th:href="'#modal-' + ${contestEntry.entry.getId()}"
                       class="u-btn u-btn-round u-button-style u-custom-font u-dialog-link u-gradient u-none u-radius-4
                       u-text-body-alt-color u-btn-2">
                        check entry</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:insert="index :: index-footer"></div>
<section th:each="contestEntry : ${contestEntries}"
         class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-section-4"
         th:id="'modal-' + ${contestEntry.entry.getId()}">
    <div class="u-align-center u-container-style u-dialog u-opacity u-opacity-30 u-radius-10 u-shape-round u-white
    u-dialog-1">
        <div class="u-container-layout u-valign-top u-container-layout-1">
            <img alt="" class="u-expanded-width u-image u-image-contain u-image-1"
                 data-image-width="1500" data-image-height="1001" th:src="${contestEntry.entry.photoLocation}">
            <h3 th:text="'Title: ' + ${contestEntry.entry.title}" class="u-custom-font u-text u-text-body-alt-color u-text-1">
                Title</h3>
            <p th:text="'Description: ' + ${contestEntry.entry.description}"
               class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-2">Description</p>
            <a th:if="${(currentPhaseName.equals('Phase 2') && session.my_role.equals('organiser')) ||
                        (currentPhaseName.equals('Phase 2') && contest.getJuryUsernames().contains(session.my_name))}"
               href="" th:href="@{/jury/review/{id}(id=${contestEntry.getId()})}" data-page-id="2467828512"
               class="u-btn u-btn-round u-button-style u-custom-font u-gradient u-hover-palette-1-dark-1 u-none
               u-radius-4 u-text-body-alt-color u-btn-1">Rate</a>
        </div>
        <button class="u-dialog-close-button u-icon u-icon-circle u-text-custom-color-7 u-icon-1">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6e8b"></use>
            </svg>
            <svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-6e8b">
                <rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2"
                      height="16"></rect>
                <rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16"
                      height="2"></rect>
            </svg>
        </button>
    </div>
</section>
<script th:inline="javascript">
    function makeTimer() {
        var endTime = [[${currentPhase}]];
        var endTime = (Date.parse(endTime)) / 1000;
        var now = new Date();
        var now = (Date.parse(now) / 1000);
        var timeLeft = endTime - now;
        var days = Math.floor(timeLeft / 86400);
        var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
        var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600)) / 60);
        var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));
        if (hours < "10") {
            hours = "0" + hours;
        }
        if (minutes < "10") {
            minutes = "0" + minutes;
        }
        if (seconds < "10") {
            seconds = "0" + seconds;
        }
        $("#days").html(days + "<span>Days</span>");
        $("#hours").html(hours + "<span>Hours</span>");
        $("#minutes").html(minutes + "<span>Minutes</span>");
        $("#seconds").html(seconds + "<span>Seconds</span>");
    }

    setInterval(function () {
        makeTimer();
    }, 0);
</script>
<style>
    #timer div {
        background-color: #000000;
        color: #ffffff;
        width: 100px;
        height: 105px;
        border-radius: 5px;
        font-size: 35px;
        font-weight: 700;
        margin-left: 10px;
        margin-right: 10px;
    }

    #timer div span {
        display: block;
        margin-top: -2px;
        font-size: 15px;
        font-weight: 500;
    }

    .u-section-4 {
        min-height: 1226px;
    }

    .u-section-4 .u-dialog-1 {
        width: 947px;
        min-height: 777px;
        margin: 155px auto 60px;
    }

    .u-section-4 .u-container-layout-1 {
        padding: 70px 30px 30px;
    }

    .u-section-4 .u-image-1 {
        height: 407px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-section-4 .u-text-1 {
        font-weight: 700;
        font-family: Aclonica;
        margin: 20px 0 0;
    }

    .u-section-4 .u-text-2 {
        font-family: Aclonica;
        margin: 20px 0 0;
    }

    .u-section-4 .u-text-3 {
        font-weight: 400;
        font-family: Aclonica;
        margin: 20px 0 0;
    }

    .u-section-4 .u-btn-1 {
        font-size: 0.875rem;
        letter-spacing: 1px;
        border-style: none;
        text-transform: uppercase;
        background-image: linear-gradient(to right, #76aec9, #313e66);
        font-weight: 700;
        font-family: Aclonica;
        margin: 20px auto 0;
    }

    .u-section-4 .u-icon-1 {
        width: 31px;
        height: 31px;
        background-image: none;
        left: auto;
        top: 20px;
        position: absolute;
        right: 20px;
    }

    @media (max-width: 1199px) {
        .u-section-4 .u-dialog-1 {
            width: 940px;
            height: auto;
        }

        .u-section-4 .u-image-1 {
            height: 407px;
        }
    }

    @media (max-width: 991px) {
        .u-section-4 .u-dialog-1 {
            width: 720px;
        }
    }

    @media (max-width: 767px) {
        .u-section-4 .u-dialog-1 {
            width: 540px;
        }

        .u-section-4 .u-container-layout-1 {
            padding-top: 65px;
        }
    }

    @media (max-width: 575px) {
        .u-section-4 .u-dialog-1 {
            width: 340px;
        }

        .u-section-4 .u-container-layout-1 {
            padding-left: 25px;
            padding-right: 25px;
        }
    }</style>
</body>
</html>