<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Create a contest">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Create contest</title>
    <link rel="stylesheet" media="screen"
          href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="stylesheet" media="screen"
          href="../static/contest-create.css" th:href="@{/contest-create.css}">
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
    <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica:400">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/pngjoy.com_pixel-art-camera-transparent-pixel-art-hd-png_13790167.png",
        "sameAs": []
    }</script>
    <meta property="og:title" content="contest-create">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body u-overlap">
<header class="u-clearfix u-header u-sticky u-header" id="sec-2893" th:insert="index :: index-header"></header>

<section class="u-align-center u-clearfix u-image u-section-1" id="carousel_8e99" data-image-width="464"
         data-image-height="499">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-text u-text-body-alt-color u-text-1" data-animation-name="fadeIn"
            data-animation-duration="2000" data-animation-delay="0">
            Create a contest</h1>
        <p class="u-custom-font u-text u-text-body-alt-color u-text-2" data-animation-name="fadeIn"
           data-animation-duration="2000" data-animation-delay="500">
            Fill below fields and create a worthy battlefield for our photo junkies!</p>
        <div class="u-form u-form-1">
            <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                  th:object="${contestDto}"
                  class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form"
                  style="padding: 10px" source="custom" name="form" redirect="true" method="POST">
                <!--title-->
                <div class="u-form-group u-form-name">
                    <label for="name-0c17" class="u-custom-font u-label u-text-body-alt-color u-label-1">
                        Title</label>
                    <input type="text" placeholder="Enter title here..." id="name-0c17" name="title"
                           class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-radius-10
                           u-text-body-alt-color u-input-1" required=""
                           th:field="*{title}">
                    <label class="error u-custom-font u-label u-text-body-alt-color u-label-1"
                           th:errors="*{title}"></label>
                </div>
                <!--category-->
                <div class="u-form-group u-form-select u-form-group-2">
                    <label for="select-65b8"
                           class="u-custom-font u-label u-text-body-alt-color u-label-2">
                        Category</label>
                    <div class="u-form-select-wrapper">
                        <select id="select-65b8" name="category"
                                class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-radius-10
                                u-text-body-alt-color u-input-2" required="required"
                                th:field="*{contestCategoryId}">
                            <option th:each="category : ${contestCategories}"
                                    th:value="${category.getId()}" value="category-id"
                                    th:text="${category.getName()}">
                                Category name
                            </option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" class="u-caret">
                            <path fill="currentColor" d="M4 8L0 4h8z"></path>
                        </svg>
                    </div>
                </div>
                <!--start Date-->
                <div class="u-form-date u-form-group">
                    <label for="date-0c17" class="u-custom-font u-label u-text-body-alt-color u-label-3">
                        Phase one start date</label>
                    <input type="datetime-local" id="date-0c17" name="date-1"
                           class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-radius-10
                           u-text-body-alt-color u-input-3" required="required" placeholder="yyyy-MM-dd HH:mm"
                           th:field="*{phase1}">
                </div>
                <!--phase2-->
                <div class="u-form-date u-form-group u-form-group-4">
                    <label for="date-5331" class="u-custom-font u-label u-text-body-alt-color u-label-4">
                        Phase two start date</label>
                    <input type="datetime-local" placeholder="yyyy-MM-dd HH:mm" id="date-5331" name="date-2"
                           class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-radius-10
                           u-text-body-alt-color u-input-4" required="required"
                           th:field="*{phase2}">
                </div>
                <!--end date-->
                <div class="u-form-date u-form-group u-form-group-5">
                    <label for="text-a727" class="u-custom-font u-label u-text-body-alt-color u-label-5">
                        End date</label>
                    <input type="datetime-local" placeholder="yyyy-MM-dd HH:mm" id="text-a727" name="date-end"
                           class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-radius-10
                           u-text-body-alt-color u-input-5" required="required"
                           th:field="*{end}">
                </div>
                <!--isOpen-->
                <div class="u-form-checkbox u-form-group u-form-group-6">
                    <input th:field="*{isOpen}" type="checkbox" id="checkbox-16ea" name="checkbox" value="On"
                           onclick="isChecked();">
                    <label for="checkbox-16ea" class="u-custom-font u-label u-text-body-alt-color u-label-6">
                        Public contest</label>
                </div>
                <!--optional jury select-->
                <div class="u-form-group u-form-select u-form-group-2">
                    <label for="select-65b9"
                           class="u-custom-font u-label u-text-body-alt-color u-label-2">
                        Select optional jury</label>
                    <div class="u-form-select-wrapper">
                        <select id="select-65b9" name="category"
                                class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-radius-10
                                u-text-body-alt-color u-input-2"
                                th:field="*{optionalJuryUsernames}" multiple>
                            <option th:each="username : ${optionalJury}"
                                    th:value="${username}" value="category-id"
                                    th:text="${username}">
                                Optional jury
                            </option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" class="u-caret">
                            <path fill="currentColor" d="M4 8L0 4h8z"></path>
                        </svg>
                    </div>
                </div>
                <!--users invite select-->
                <div class="u-form-group u-form-select u-form-group-2">
                    <label for="select-65b10"
                           class="u-custom-font u-label u-text-body-alt-color u-label-2">
                        Select participants</label>
                    <div class="u-form-select-wrapper">
                        <select id="select-65b10" name="category"
                                class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-radius-10
                                u-text-body-alt-color u-input-2"
                                th:field="*{invitedUsernames}" multiple>
                            <option th:each="invitedUser : ${invitedUsers}"
                                    th:value="${invitedUser}" value="category-id"
                                    th:text="${invitedUser}">
                                Invited participants
                            </option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" class="u-caret">
                            <path fill="currentColor" d="M4 8L0 4h8z"></path>
                        </svg>
                    </div>
                </div>
                <!--submit button-->
                <div class="u-align-center u-form-group u-form-submit">
                    <a href="#"
                       class="u-btn u-btn-round u-btn-submit u-button-style u-custom-font u-gradient u-none u-radius-10
                       u-text-body-alt-color u-btn-1">
                        Submit</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    function isChecked() {
        if (document.getElementById('checkbox-16ea').checked === false) {
            document.getElementById('select-65b10').removeAttribute('disabled');
        } else {
            document.getElementById('select-65b10').setAttribute('disabled', 'disabled');
        }
    }
</script>
<div th:insert="index :: index-footer"></div>
</body>
</html>