<!DOCTYPE html>
<html style="font-size: 16px;" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Submit your entry">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Contest entry submission</title>
    <link rel="stylesheet" media="screen"
          href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="stylesheet" media="screen"
          href="../static/Contests.css" th:href="@{/contest-entry-submit.css}">
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
    <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica:400">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/pngjoy.com_pixel-art-camera-transparent-pixel-art-hd-png_13790167.png",
        "sameAs": []
    }</script>
    <meta property="og:title" content="contest-entry-submit">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body u-overlap">
<header class="u-clearfix u-header u-sticky u-header" id="sec-2893" th:insert="index :: index-header"></header>
<section class="u-clearfix u-image u-section-1" id="carousel_e865" data-image-width="953" data-image-height="488">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h1 class="u-custom-font u-text u-text-body-alt-color u-text-1" data-animation-name="fadeIn"
                                data-animation-duration="2000" data-animation-delay="0">Submit your entry</h1>
                            <p class="u-custom-font u-text u-text-body-alt-color u-text-2" data-animation-name="fadeIn"
                               data-animation-duration="2000" data-animation-delay="1000">Write down the title of your
                                entry, a brief description, upload the photo you wish to participate with, and you're
                                good to go!</p>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <div class="u-expanded-width u-form u-form-1">
                                <!--todo figure out how to get the file-->
                                <form action="#" method="POST"
                                      th:action="@{__${#httpServletRequest.requestURI}__}"
                                      enctype="multipart/form-data"
                                      class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form"
                                      style="padding: 10px" source="custom" name="form" redirect="true">
                                    <input type="file" name="file"
                                           class="u-btn u-btn-round u-button-style u-custom-font u-gradient u-none u-radius-4
                                           u-text-body-alt-color u-text-hover-grey-25 u-btn-1">
                                    <div class="u-form-group u-form-name">
                                        <label for="name-f872"
                                               class="u-custom-font u-label u-text-body-alt-color u-label-1">Title</label>
                                        <input type="text" placeholder="Enter title here..."
                                               id="name-f872" name="title"
                                               class="u-border-1 u-border-grey-30 u-custom-font u-input u-input-rectangle u-radius-4 u-white u-input-1"
                                               required="">
                                    </div>
                                    <div class="u-form-group u-form-message">
                                        <label for="message-f872"
                                               class="u-custom-font u-label u-text-body-alt-color u-label-2">Description</label>
                                        <textarea placeholder="Enter description here..."
                                                  rows="4" cols="50"
                                                  id="message-f872" name="description"
                                                  class="u-border-1 u-border-grey-30 u-custom-font u-input u-input-rectangle u-radius-4 u-white u-input-2"
                                                  required=""></textarea>
                                    </div>
                                    <div class="u-align-left u-form-group u-form-submit">
                                        <a href="#"
                                           class="u-btn u-btn-round u-btn-submit u-button-style u-custom-font u-gradient u-hover-palette-1-dark-1 u-none u-radius-4 u-text-body-alt-color u-text-hover-grey-25 u-btn-2">Submit</a>
                                        <input type="submit" value="submit" class="u-form-control-hidden">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div th:insert="index :: index-footer"></div>
</body>
</html>