<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Contests">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Contests</title>
    <link rel="stylesheet" media="screen"
          href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="stylesheet" media="screen"
          href="../static/Contests.css" th:href="@{/Contests.css}">
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
    <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|
          Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica:400">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/pngjoy.com_pixel-art-camera-transparent-pixel-art-hd-png_13790167.png",
        "sameAs": []
    }</script>
    <meta property="og:title" content="Contests">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body u-overlap">
<header class="u-clearfix u-header u-sticky u-header" id="sec-2893" th:insert="index :: index-header"></header>
<section class="u-align-center u-clearfix u-image u-section-1" data-image-width="1280" data-image-height="720"
         id="sec-a20a">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div id="carousel-5989" data-interval="5000" data-u-ride="carousel"
             class="u-carousel u-carousel-duration-2000 u-slider u-slider-1">
            <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                <li data-u-target="#carousel-5989" class="u-active u-grey-30"
                    th:attr="data-u-slide-to=${contests.get(0).id}"></li>
                <li th:each="contest : ${contests.subList(1, contests.size() - 1)}" data-u-target="#carousel-5989"
                    class="u-grey-30"
                    th:attr="data-u-slide-to=${contest.id}"></li>
            </ol>
            <div class="u-carousel-inner" role="listbox">
                <div class="u-active u-align-center u-carousel-item u-container-style u-shape-rectangle u-slide">
                    <div class="u-container-layout u-container-layout-1">
                        <br>
                        <br>
                        <p class="u-custom-font u-text u-text-body-alt-color u-text-2"
                           th:text="'Current phase: ' + ${contests.get(0).getCurrentPhase()}">
                            Current phase:&nbsp;</p>
                        <p class="u-custom-font u-text u-text-body-alt-color u-text-2"
                           th:text="${contests.get(0).contestCategory.name}">
                            Category:&nbsp;</p>
                        <p class="u-custom-font u-large-text u-text u-text-body-alt-color u-text-variant u-text-3"
                           th:text="${contests.get(0).title}">
                            Some example title for the contest</p>
                        <a href="#"
                           th:href="@{/contests/{id}(id=${contests.get(0).getId()})}"
                           data-page-id="480027969"
                           class="u-btn u-btn-round u-button-style u-custom-font u-gradient u-none u-radius-4
                           u-text-body-alt-color u-btn-1">
                            check the contest</a>
                    </div>
                </div>
                <div th:each="contest : ${contests.subList(1, contests.size())}"
                     class="u-align-center u-carousel-item u-container-style
                 u-shape-rectangle u-slide">
                    <div style="padding: 40px 80px 45px;" class="u-container-layout">
                        <br>
                        <br>
                        <p class="u-custom-font u-text u-text-body-alt-color u-text-2"
                           th:text="'Current phase: ' + ${contest.getCurrentPhase()}">
                            Current Phase:&nbsp;</p>
                        <p class="u-custom-font u-text u-text-body-alt-color u-text-2"
                           th:text="${contest.contestCategory.name}">
                            Category:&nbsp;</p>
                        <p class="u-custom-font u-large-text u-text u-text-body-alt-color u-text-variant u-text-3"
                           th:text="${contest.title}">
                            Some example title for the contest</p>
                        <a href="#"
                           th:href="@{/contests/{id}(id=${contest.getId()})}"
                           data-page-id="480027969"
                           class="u-btn u-btn-round u-button-style u-custom-font u-gradient u-none u-radius-4
                           u-text-body-alt-color u-btn-1">
                            check the contest</a>
                    </div>
                </div>
            </div>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-spacing-13
             u-text-body-alt-color u-carousel-control-1"
               href="#carousel-5989"
               role="button" data-u-slide="prev">
            <span aria-hidden="true">
              <svg viewBox="0 0 477.175 477.175">
                  <path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
		c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
            </span>
                <span class="sr-only">
              <svg viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
		c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
            </span>
            </a>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-spacing-13
            u-text-body-alt-color u-carousel-control-2"
               href="#carousel-5989"
               role="button" data-u-slide="next">
            <span aria-hidden="true">
              <svg viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
		c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
            </span>
                <span class="sr-only">
              <svg viewBox="0 0 477.175 477.175">
                  <path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
		c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
            </span>
            </a>
        </div>
        <h1 class="u-custom-font u-text u-text-body-alt-color u-text-4" data-animation-name="fadeIn"
            data-animation-duration="2000" data-animation-delay="0" data-animation-direction="">
            Contests</h1>
        <p class="u-custom-font u-text u-text-body-alt-color u-text-5" data-animation-name="fadeIn"
           data-animation-duration="2000" data-animation-delay="1000">
            Check out our active contests, join the one that catches your eye, and let the battle begin! </p>
    </div>
</section>

<div th:insert="index :: index-footer"></div>
</body>
</html>