<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Photo contest">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" media="screen"
          href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="stylesheet" media="screen"
          href="../static/Home.css" th:href="@{/Home.css}">
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
    <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica:400">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/pngjoy.com_pixel-art-camera-transparent-pixel-art-hd-png_13790167.png",
        "sameAs": []
    }</script>
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body u-overlap u-overlap-contrast">
<header class="u-clearfix u-header u-sticky u-header" id="sec-2893" th:insert="index :: index-header"></header>
<section class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_5719" data-image-width="1280"
         data-image-height="845">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-size-26">
                        <div class="u-layout-col">
                            <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                                <div class="u-container-layout u-valign-bottom-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-1">
                                    <img class="u-image u-image-round u-radius-15 u-image-1" alt="default"
                                         src="../static/images/photo15317662353220d318d0b216c.jpg" data-image-width="500"
                                         data-image-height="749" data-animation-name="slideIn"
                                         data-animation-duration="2500" data-animation-delay="0"
                                         data-animation-direction="Left">
                                </div>
                            </div>
                            <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2">
                                <div class="u-container-layout u-valign-top u-container-layout-2">
                                    <img class="u-image u-image-round u-radius-15 u-image-2" src="../static/images/gf.jpg"
                                         data-animation-name="slideIn" data-animation-duration="2500" alt="default"
                                         data-animation-delay="0" data-animation-direction="Up">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-34">
                        <div class="u-layout-col">
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-3">
                                        <div class="u-container-layout u-valign-top u-container-layout-3">
                                            <h1 class="u-custom-font u-text u-text-1" data-animation-name="zoomIn"
                                                data-animation-duration="1000" data-animation-delay="0"
                                                data-animation-direction="">Photo contest</h1>
                                            <p class="u-custom-font u-text u-text-2" data-animation-name="zoomIn"
                                               data-animation-duration="2000" data-animation-delay="0"
                                               data-animation-direction="">This is the place for all photography junkies
                                                to post their masterpieces, compete with other talented photographers,
                                                and decide the best photo junkie!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-4">
                                        <div class="u-container-layout u-valign-middle u-container-layout-4">
                                            <img class="u-expanded-width u-image u-image-round u-radius-15 u-image-3"
                                                 src="../static/images/52e7d5424d50a814f6da8c7dda79367d1d38d6ed5b586c4870287cd09345cd5eb1_1280.jpg"
                                                 data-image-width="1280" data-image-height="853" alt="default"
                                                 data-animation-name="slideIn" data-animation-duration="2500"
                                                 data-animation-delay="0" data-animation-direction="Right">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-image u-layout-cell u-size-30 u-image-4"
                                         data-image-width="536" data-image-height="700" data-animation-name="slideIn"
                                         data-animation-duration="2500" data-animation-delay="0"
                                         data-animation-direction="Down">
                                        <div class="u-container-layout u-container-layout-5"></div>
                                    </div>
                                    <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-6">
                                        <div class="u-container-layout u-container-layout-6">
                                            <h5 class="u-custom-font u-text u-text-3" data-animation-name="fadeIn"
                                                data-animation-duration="2000" data-animation-delay="0"> contests </h5>
                                            <div class="u-border-2 u-border-palette-3-light-1 u-line u-line-horizontal u-line-1"
                                                 data-animation-name="slideIn" data-animation-duration="1000"
                                                 data-animation-delay="0" data-animation-direction="Right"></div>
                                            <a href="Contests.html" data-page-id="1605730194"
                                               class="u-btn u-btn-round u-button-style u-custom-font u-gradient u-none u-radius-4 u-text-body-alt-color u-btn-1"
                                               data-animation-name="fadeIn" data-animation-duration="2500"
                                               data-animation-delay="0" data-animation-direction="">check them out!</a>
                                            <div class="u-border-2 u-border-palette-3-light-1 u-line u-line-horizontal u-line-2"
                                                 data-animation-name="slideIn" data-animation-duration="1000"
                                                 data-animation-delay="0" data-animation-direction="Right"></div>
                                            <p class="u-custom-font u-text u-text-palette-3-light-1 u-text-4"
                                               data-animation-name="fadeIn" data-animation-duration="2500"
                                               data-animation-delay="0">Check the contests, make a choice and
                                                participate in this epic photography battle!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style class="u-overlap-style">.u-overlap:not(.u-sticky-scroll) .u-header {
}</style>

<div th:insert="index :: index-footer"></div>
</body>
</html>