<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Photo contest">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" media="screen"
          href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="stylesheet" media="screen"
          href="../static/Home.css" th:href="@{/Home.css}">
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
    <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica:400">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/pngjoy.com_pixel-art-camera-transparent-pixel-art-hd-png_13790167.png",
        "sameAs": []
    }</script>
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body data-home-page="Home.html" data-home-page-title="Home" class="u-body u-overlap u-overlap-contrast">
<header class="u-clearfix u-header u-sticky u-header" id="sec-2893" th:fragment="index-header">
    <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-align-left u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse u-custom-font"
                 style="font-family: Aclonica; font-size: 1.5rem; letter-spacing: 0px; font-weight: 500;">
                <a class="u-button-style u-custom-active-color u-custom-border
                u-custom-border-color u-custom-hover-color u-custom-left-right-menu-spacing
                u-custom-text-active-color u-custom-text-color u-custom-text-hover-color
                u-custom-text-shadow-blur u-custom-text-shadow-transparency
                u-custom-top-bottom-menu-spacing u-nav-link"
                   href="#" th:href="@{/}"
                   style="text-shadow: -2px 0 0 rgba(0,0,0,0);">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice"
                         viewBox="0 0 302 302" style="">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="#svg-0b31"></use>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                         id="svg-0b31" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;"
                         xml:space="preserve" class="u-svg-content"><g>
                        <rect y="36" width="302" height="30"></rect>
                        <rect y="236" width="302" height="30"></rect>
                        <rect y="136" width="302" height="30"></rect>
</g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g></svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-custom-font u-nav u-spacing-2 u-unstyled u-nav-1">
                    <!--home-->
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-palette-3-base
                         u-text-palette-2-base"
                           href="#" th:href="@{/}"
                           style="padding: 10px 20px; text-shadow: 2px 2px 10px rgba(0,0,0,0.7);">Home</a>
                    </li>
                    <!--contests-->
                    <li th:if="${session.my_role} == #{role.organiser}" class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-palette-3-base
                         u-text-palette-2-base"
                           href="#" th:href="@{/contests/organisers}"
                           style="padding: 10px 20px; text-shadow: 2px 2px 10px rgba(0,0,0,0.7);">Contests</a>
                    </li>
                    <li th:if="${session.my_role == null || session.my_role.equals('user')}" class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-palette-3-base
                         u-text-palette-2-base"
                           href="#" th:href="@{/contests/users}"
                           style="padding: 10px 20px; text-shadow: 2px 2px 10px rgba(0,0,0,0.7);">Contests</a>
                    </li>
                    <!--ranking-->
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-palette-3-base
                         u-text-palette-2-base"
                           href="#" th:href="@{/users/ranking}"
                           style="padding: 10px 20px; text-shadow: 2px 2px 10px rgba(0,0,0,0.7);">Ranking</a>
                    </li>
                    <!--profile-->
                    <li class="u-nav-item" th:if="${session.my_role} == #{role.organiser}">
                        <a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-palette-3-base
                         u-text-palette-2-base"
                           th:text="${session.my_name}" th:href="@{/organisers/profile}"
                           style="padding: 10px 20px; text-shadow: 2px 2px 10px rgba(0,0,0,0.7);">Profile</a>
                    </li>
                    <li class="u-nav-item" th:if="${session.my_role} == #{role.user}">
                        <a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-palette-3-base
                         u-text-palette-2-base"
                           th:text="${session.my_name}" th:href="@{/users/profile}"
                           style="padding: 10px 20px; text-shadow: 2px 2px 10px rgba(0,0,0,0.7);">Profile</a>
                    </li>
                    <!--login-->
                    <li class="u-nav-item" th:if="${session.my_name} == null">
                        <a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-palette-3-base
                         u-text-palette-2-base"
                           href="#" th:href="@{/login}"
                           style="padding: 10px 20px; text-shadow: 2px 2px 10px rgba(0,0,0,0.7);">Login</a>
                    </li>
                    <!--register-->
                    <li class="u-nav-item" th:if="${session.my_name} == null">
                        <a class="u-button-style u-nav-link u-text-active-palette-3-base
                            u-text-hover-palette-3-base u-text-palette-2-base"
                           href="#" th:href="@{/register}"
                           style="padding: 10px 20px; text-shadow: 2px 2px 10px rgba(0,0,0,0.7);">Register</a>
                    </li>
                    <!--logout-->
                    <li class="u-nav-item" th:if="${session.my_name} != null">
                        <a class="u-button-style u-nav-link u-text-active-palette-3-base
                            u-text-hover-palette-3-base u-text-palette-2-base"
                           href="#" th:href="@{/logout}"
                           style="padding: 10px 20px; text-shadow: 2px 2px 10px rgba(0,0,0,0.7);">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-align-center u-black u-container-style u-inner-container-layout
                u-opacity u-opacity-95 u-sidenav">
                    <div class="u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                            <!--home-->
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link"
                                   href="#" th:href="@{/}"
                                   style="padding: 10px 20px; text-shadow: 2px 2px 10px rgba(0,0,0,0.7);">Home</a>
                            </li>
                            <!--contests-->
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link"
                                   href="#" th:href="@{/contests/}"
                                   style="padding: 10px 20px; text-shadow: 2px 2px 10px rgba(0,0,0,0.7);">Contests</a>
                            </li>
                            <!--profile-->
                            <li class="u-nav-item" th:if="${session.my_role} == #{role.organiser}">
                                <a class="u-button-style u-nav-link"
                                   th:text="${session.my_name}" th:href="@{/organisers/profile}"
                                   style="padding: 10px 20px;
                                   text-shadow: 2px 2px 10px rgba(0,0,0,0.7);">Profile</a>
                            </li>
                            <li class="u-nav-item" th:if="${session.my_role} == #{role.user}">
                                <a class="u-button-style u-nav-link"
                                   th:text="${session.my_name}" th:href="@{/users/profile}"
                                   style="padding: 10px 20px;
                                   text-shadow: 2px 2px 10px rgba(0,0,0,0.7);">Profile</a>
                            </li>
                            <!--login-->
                            <li class="u-nav-item" th:if="${session.my_name} == null">
                                <a class="u-button-style u-nav-link" href="#" th:href="@{/login}"
                                   style="padding: 10px 20px;
                                   text-shadow: 2px 2px 10px rgba(0,0,0,0.7);">Login</a>
                            </li>
                            <!--register-->
                            <li class="u-nav-item" th:if="${session.my_name} == null">
                                <a class="u-button-style u-nav-link" href="#" th:href="@{/register}"
                                   style="padding: 10px 20px;
                                   text-shadow: 2px 2px 10px rgba(0,0,0,0.7);">Register</a>
                            </li>
                            <!--logout-->
                            <li class="u-nav-item" th:if="${session.my_name} != null">
                                <a class="u-button-style u-nav-link" href="#" th:href="@{/logout}"
                                   style="padding: 10px 20px;
                                   text-shadow: 2px 2px 10px rgba(0,0,0,0.7);">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
        <!--logo camera-->
        <a href="#" th:href="@{/}" th:fragment="index-home-camera"
           data-page-id="2738910541" class="u-image u-logo u-image-1" data-image-width="685"
           data-image-height="409" title="Home">
            <img src="../static/images/pngjoy.com_pixel-art-camera-transparent-pixel-art-hd-png_13790167.png"
                 th:src="@{/images/pngjoy.com_pixel-art-camera-transparent-pixel-art-hd-png_13790167.png}"
                 class="u-logo-image u-logo-image-1" data-image-width="67.5" alt="Camera">
        </a>
    </div>
</header>
<section class="u-align-center u-clearfix u-image u-shading u-section-1"
         id="carousel_5719" data-image-width="1280" data-image-height="845">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-size-26">
                        <div class="u-layout-col">
                            <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                                <div class="u-container-layout u-valign-bottom-lg u-valign-top-md
                                 u-valign-top-sm u-valign-top-xs u-container-layout-1">
                                    <img class="u-image u-image-round u-radius-15 u-image-1"
                                         src="../static/images/photo15317662353220d318d0b216c.jpg"
                                         th:src="@{/images/photo15317662353220d318d0b216c.jpg}"
                                         data-image-width="500"
                                         data-image-height="749" data-animation-name="slideIn"
                                         data-animation-duration="2500" data-animation-delay="0"
                                         data-animation-direction="Left" alt="Person and sunset">
                                </div>
                            </div>
                            <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2">
                                <div class="u-container-layout u-valign-top u-container-layout-2">
                                    <img class="u-image u-image-round u-radius-15 u-image-2"
                                         src="../static/images/gf.jpg"
                                         th:src="@{/images/gf.jpg}"
                                         data-animation-name="slideIn" data-animation-duration="2500"
                                         data-animation-delay="0" data-animation-direction="Up"
                                         alt="Wooden shacks in the mountains">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-34">
                        <div class="u-layout-col">
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-3">
                                        <div class="u-container-layout u-valign-top u-container-layout-3">
                                            <h1 class="u-custom-font u-text u-text-1" data-animation-name="zoomIn"
                                                data-animation-duration="1000" data-animation-delay="0"
                                                data-animation-direction="">Photo contest</h1>
                                            <p class="u-custom-font u-text u-text-2" data-animation-name="zoomIn"
                                               data-animation-duration="2000" data-animation-delay="0"
                                               data-animation-direction="">
                                                This is the place for all photography junkies
                                                to post their masterpieces, compete with other talented photographers,
                                                and decide the best photo junkie!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-4">
                                        <div class="u-container-layout u-valign-middle u-container-layout-4">
                                            <img class="u-expanded-width u-image u-image-round u-radius-15 u-image-3"
                                                 src="../static/images/52e7d5424d50a814f6da8c7dda79367d1d38d6ed5b586c4870287cd09345cd5eb1_1280.jpg"
                                                 th:src="@{/images/52e7d5424d50a814f6da8c7dda79367d1d38d6ed5b586c4870287cd09345cd5eb1_1280.jpg}"
                                                 data-image-width="1280" data-image-height="853"
                                                 data-animation-name="slideIn" data-animation-duration="2500"
                                                 data-animation-delay="0" data-animation-direction="Right"
                                                 alt="Mist in the Hills">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-image u-layout-cell u-size-30 u-image-4"
                                         data-image-width="536" data-image-height="700" data-animation-name="slideIn"
                                         data-animation-duration="2500" data-animation-delay="0"
                                         data-animation-direction="Down">
                                        <div class="u-container-layout u-container-layout-5"></div>
                                    </div>
                                    <div class="u-align-center u-container-style u-layout-cell
                                    u-right-cell u-size-30 u-layout-cell-6">
                                        <div class="u-container-layout u-container-layout-6">
                                            <h5 class="u-custom-font u-text u-text-3" data-animation-name="fadeIn"
                                                data-animation-duration="2000" data-animation-delay="0"> contests </h5>
                                            <div class="u-border-2 u-border-palette-3-light-1 u-line u-line-horizontal
                                             u-line-1"
                                                 data-animation-name="slideIn" data-animation-duration="1000"
                                                 data-animation-delay="0" data-animation-direction="Right"></div>
                                            <a th:if="${session.my_role} == #{role.organiser}" href="#"
                                               th:href="@{/contests/organisers}"
                                               data-page-id="1605730194"
                                               class="u-btn u-btn-round u-button-style u-custom-font u-gradient u-none
                                                u-radius-4 u-text-body-alt-color u-btn-1"
                                               data-animation-name="fadeIn" data-animation-duration="2500"
                                               data-animation-delay="0" data-animation-direction="">check them out!</a>
                                            <a th:if="${session.my_role == null || session.my_role.equals('user')}" href="#"
                                               th:href="@{/contests/users}"
                                               data-page-id="1605730194"
                                               class="u-btn u-btn-round u-button-style u-custom-font u-gradient u-none
                                                u-radius-4 u-text-body-alt-color u-btn-1"
                                               data-animation-name="fadeIn" data-animation-duration="2500"
                                               data-animation-delay="0" data-animation-direction="">check them out!</a>
                                            <div class="u-border-2 u-border-palette-3-light-1 u-line u-line-horizontal
                                             u-line-2"
                                                 data-animation-name="slideIn" data-animation-duration="1000"
                                                 data-animation-delay="0" data-animation-direction="Right"></div>
                                            <p class="u-custom-font u-text u-text-palette-3-light-1 u-text-4"
                                               data-animation-name="fadeIn" data-animation-duration="2500"
                                               data-animation-delay="0">Check the contests, make a choice and
                                                participate in this epic photography battle!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style class="u-overlap-style">.u-overlap:not(.u-sticky-scroll) .u-header {
}</style>

<div th:fragment="index-footer">
    <footer class="u-clearfix u-footer u-grey-80" id="sec-cab0">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div th:insert="index :: index-home-camera"></div>
            <div class="u-align-left u-social-icons u-spacing-10 u-social-icons-1">
                <a class="u-social-url" title="facebook" target="_blank" href="">
                <span class="u-icon u-icon-circle u-social-facebook u-social-icon u-icon-1">
                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-999a"></use></svg>
                    <svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-999a">
                    <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
                    <path fill="#FFFFFF"
                          d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
            c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
                </a>
                <a class="u-social-url" title="instagram" target="_blank" href="">
                <span class="u-icon u-icon-circle u-social-icon u-social-instagram u-icon-2">
                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f2ed"></use></svg>
                <svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-f2ed">
                <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
                <path fill="#FFFFFF"
                      d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
            z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path>
                <path fill="#FFFFFF"
                      d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path>
                <path fill="#FFFFFF"
                      d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
            C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
            c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
                </a>
            </div>
            <div class="u-border-1 u-border-white u-expanded-width u-line u-line-horizontal u-opacity u-opacity-50 u-line-1"></div>
            <p class="u-align-center u-text u-text-1">Sample text. Click to select the text box. Click again or double
                click
                to start editing the text.</p>
        </div>
    </footer>
</div>
</body>
</html>