<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="LOGIN">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>login</title>
    <link rel="stylesheet" media="screen"
          href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="stylesheet" media="screen"
          href="../static/login.css" th:href="@{/login.css}">
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
    <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica:400">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/pngjoy.com_pixel-art-camera-transparent-pixel-art-hd-png_13790167.png",
        "sameAs": []
    }</script>
    <meta property="og:title" content="login">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body u-overlap u-overlap-contrast">
<header class="u-clearfix u-header u-sticky u-header" id="sec-2893" th:insert="index :: index-header"></header>

<section class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_182b" data-image-width="640"
         data-image-height="800">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-text u-text-body-alt-color u-text-1" data-animation-name="fadeIn"
            data-animation-duration="2000" data-animation-delay="0">LOGIN</h1>
        <h3 class="u-custom-font u-text u-text-body-alt-color u-text-2" data-animation-name="fadeIn"
            data-animation-duration="2000" data-animation-delay="1000"> Welcome back! Just input your username and
            password below.&nbsp;</h3>
        <div class="u-form u-form-1">
            <!--Login Form-->
            <form action="#" method="POST" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${login}"
                  class="u-clearfix u-form-custom-backend u-form-horizontal u-form-spacing-10 u-inner-form"
                  style="padding: 10px" source="custom" name="form" redirect="true">
                <div class="u-form-group u-form-name u-form-group-1">
                    <label for="name-91da" class="u-form-control-hidden u-label u-label-1">
                    </label>
                    <input type="text" placeholder="Enter your username here..." id="name-91da" name="username"
                           class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-radius-50
                            u-text-body-alt-color u-input-1" th:field="*{userName}"
                           required="" maxlength="20">

                </div>
                <div class="u-form-email u-form-group u-form-group-2">
                    <label for="email-2555" class="u-form-control-hidden u-label u-label-2"></label>
                    <input type="password" placeholder="Enter password here..." id="email-2555" name="password"
                           class="u-border-2 u-border-white u-custom-font u-input u-input-rectangle u-radius-50
                           u-text-body-alt-color u-input-2" minlength="8" th:field="*{passWord}"
                           required="">
                </div>
                <div class="u-align-left u-form-group u-form-submit">
                    <a href="#"
                       class="u-active-grey-80 u-btn u-btn-round u-btn-submit u-button-style u-custom-font
                       u-gradient u-hover-grey-80 u-none u-radius-50 u-text-white u-btn-1">
                        Login</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <label class="u-form-send-error u-form-send-message" th:errors="*{userName}"></label>
                <!-- <div class="u-form-send-message u-form-send-success">
                     Thank you! Your message has been sent.
                 </div>
                 <div class="u-form-send-error u-form-send-message">
                     Unable to send your message. Please fix errors then try again.
                 </div>-->
                <input type="hidden" value="" name="recaptchaResponse">
            </form>
        </div>
    </div>
</section>

<div th:insert="index :: index-footer"></div>
</body>
</html>