<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Entry Title, Review​​s, Review Score:​">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>single-entry-page</title>
  <link rel="stylesheet" media="screen"
        href="../static/styles.css" th:href="@{/styles.css}">
  <link rel="stylesheet" media="screen"
        href="../static/single-entry-page.css" th:href="@{/single-entry-page.css}">
  <script class="u-script" type="text/javascript" defer=""
          src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
  <script class="u-script" type="text/javascript" defer=""
          src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
  <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica:400">


  <script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "",
    "url": "index.html",
    "logo": "images/pngjoy.com_pixel-art-camera-transparent-pixel-art-hd-png_13790167.png",
    "sameAs": []
  }</script>
  <meta property="og:title" content="single-entry-page">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="index.html">
  <meta property="og:url" content="index.html">
</head>
<body class="u-body u-overlap">
<header class="u-clearfix u-header u-sticky u-header" id="sec-2893" th:insert="index :: index-header"></header>
<section class="u-clearfix u-image u-section-1" id="sec-df46" data-image-width="750" data-image-height="422">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout" style="">
        <div class="u-layout-row" style="">
          <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-layout-cell-1"
               src="">
            <div class="u-container-layout u-container-layout-1">
              <!--title-->
              <h1 class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-1">
                Entry Title</h1>
              <!--description-->
              <p class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-2">
                Description:<br>
              </p>
              <!--score ? -->
              <p class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-3">
                Current score: <br>
              </p>
              <!--reviews-->
              <a href="#sec-1f0b"
                 class="u-btn u-btn-round u-button-style u-custom-font u-dialog-link u-gradient
                               u-hover-palette-1-dark-1 u-none u-radius-4 u-text-body-alt-color u-btn-1"
                 data-animation-name="fadeIn" data-animation-duration="2000" data-animation-delay="1000"
                 data-animation-direction="">
                Check Reviews<br>
              </a>
            </div>
          </div>
          <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30
                    u-size-xs-60 u-image-1"
               src="" data-image-width="1080" data-image-height="1080" data-animation-name="slideIn"
               data-animation-duration="2000" data-animation-delay="0" data-animation-direction="Right">
            <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div th:insert="index :: index-footer"></div>
<section class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-section-5" id="sec-1f0b">
  <div class="u-align-left u-container-style u-dialog u-image u-image-1" data-image-width="400"
       data-image-height="680">
    <div class="u-container-layout u-container-layout-1">
      <h1 class="u-custom-font u-text u-text-body-alt-color u-text-1">Review​​s</h1>
      <div id="carousel-6514" data-interval="5000" data-u-ride="carousel" class="u-carousel u-slider u-slider-1">
        <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
          <li data-u-target="#carousel-6514" class="u-active u-grey-30" data-u-slide-to="0"></li>
          <li data-u-target="#carousel-6514" class="u-grey-30" data-u-slide-to="1"></li>
        </ol>
        <div class="u-carousel-inner" role="listbox">
          <div class="u-active u-carousel-item u-container-style u-slide">
            <div class="u-container-layout u-container-layout-2">
              <h1 class="u-custom-font u-text u-text-body-alt-color u-text-2">Review Score: </h1>
              <p class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-3">Sample text.
                Click to select the text box. Click again or double click to start editing the text.</p>
            </div>
          </div>
          <div class="u-carousel-item u-container-style u-slide">
            <div class="u-container-layout u-container-layout-3"></div>
          </div>
        </div>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-spacing-5 u-text-grey-30 u-carousel-control-1"
           href="#carousel-6514" role="button" data-u-slide="prev">
              <span aria-hidden="true">
                <svg viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                    c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
              </span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-spacing-5 u-text-grey-30 u-carousel-control-2"
           href="#carousel-6514" role="button" data-u-slide="next">
              <span aria-hidden="true">
                <svg viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                    c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
              </span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <button class="u-dialog-close-button u-icon u-icon-1">
      <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style="">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-77a7"></use>
      </svg>
      <svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-77a7">
        <rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2"
              height="16"></rect>
        <rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16"
              height="2"></rect>
      </svg>
    </button>
  </div>
</section>
<style>.u-section-5 {
  min-height: 1226px;
}

.u-section-5 .u-image-1 {
  width: 800px;
  min-height: 760px;
  background-image: url("https://i.imgur.com/dQSud5P.gif");
  background-position: 50% 50%;
  margin: 209px auto 60px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-family: Aclonica;
  text-shadow: 2px 2px 40px rgba(0, 0, 0, 0.7);
  margin: -30px -30px 0;
}

.u-section-5 .u-slider-1 {
  width: 740px;
  min-height: 525px;
  margin: 30px auto 0;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-family: Aclonica;
  margin: -30px -50px 0;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  font-family: Aclonica;
  font-size: 1.25rem;
  margin: 0 -50px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-5 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-5 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-5 .u-icon-1 {
  width: 20px;
  height: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    height: auto;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    width: 720px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-slider-1 {
    width: 660px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-slider-1 {
    width: 520px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    width: 340px;
  }

  .u-section-5 .u-slider-1 {
    width: 320px;
  }
}
</style>
</body>
</html>