<!DOCTYPE html>
<html style="font-size: 16px;" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="We could not find what you are searching for...">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Not found...</title>
    <link rel="stylesheet" media="screen"
          href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="stylesheet" media="screen"
          href="../static/not-found.css" th:href="@{/not-found.css}">
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
    <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica:400">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/pngjoy.com_pixel-art-camera-transparent-pixel-art-hd-png_13790167.png",
        "sameAs": []
    }</script>
    <meta property="og:title" content="not-found">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body u-overlap u-overlap-transparent">
<section class="u-clearfix u-image u-section-1" id="sec-eee6" data-image-width="480" data-image-height="480">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-custom-font u-text u-text-default u-text-white u-text-1"
            data-animation-name="fadeIn" data-animation-duration="2000" data-animation-delay="0">We could not find what
            you are searching for...</h1>
        <a href="#" th:href="@{/}"
           class="u-btn u-btn-round u-button-style u-gradient u-none u-radius-4 u-text-body-alt-color u-btn-1"
           data-animation-name="fadeIn" data-animation-duration="2000" data-animation-delay="1000"> Return to home<span
                style="font-size: 1.25rem;"></span>
        </a>
    </div>
</section>
</body>
</html>