<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Hello, username!, Your current rank is:">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Organiser profile</title>
    <link rel="stylesheet" media="screen"
          href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="stylesheet" media="screen"
          href="../static/profile-organiser.css" th:href="@{/profile-organiser.css}">
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
    <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|
          Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica:400">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/pngjoy.com_pixel-art-camera-transparent-pixel-art-hd-png_13790167.png",
        "sameAs": []
    }</script>
    <meta property="og:title" content="profile-organiser">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body u-overlap u-overlap-contrast u-overlap-transparent">
<header class="u-clearfix u-header u-sticky u-header" id="sec-2893" th:insert="index :: index-header"></header>
<section class="u-clearfix u-image u-shading u-section-1" id="carousel_1518" data-image-width="1100"
         data-image-height="582">
    <div class="u-clearfix u-sheet u-sheet-1">
        <!--Welcome-->
        <h1 class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-1" data-animation-name="fadeIn"
            data-animation-duration="2000" data-animation-delay="0"
            th:text="#{hello.organiser}+' '+${session.my_name}">
            Hello, master username!</h1>
        <p class="u-align-center u-custom-font u-text u-text-body-alt-color u-text-2" data-animation-name="fadeIn"
           data-animation-duration="2000" data-animation-delay="1000">
            <span style="font-size: 1.5rem;">
                Welcome to your chill throne room. </span>
            <br>
        </p>
        <!-- view Contests-->
        <a href="#sec-28d9"
           class="u-btn u-btn-round u-button-style u-custom-font u-dialog-link u-gradient u-none u-radius-10
           u-text-body-alt-color u-btn-1"
           data-animation-name="fadeIn" data-animation-duration="2000" data-animation-delay="2000">
            <span style="font-size: 2.25rem;">
                Check contests open for review </span>
            <br>
        </a>
        <!--create contest-->
        <a href="contest-create.html" th:href="@{/contests/new}"
           data-page-id="607416828"
           class="u-btn u-btn-round u-button-style u-custom-font u-gradient u-none u-radius-10
           u-text-body-alt-color u-btn-2"
           data-animation-name="fadeIn" data-animation-duration="2000" data-animation-delay="2000">
            <span style="font-size: 2.25rem;">
                Create a new contest</span>
            <br>
        </a>
    </div>
</section>

<div th:insert="index :: index-footer"></div>

<section class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-section-7" id="sec-28d9">
    <div class="u-border-5 u-border-white u-container-style u-dialog u-radius-10 u-shape-round u-dialog-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
            <div id="carousel-338a" data-interval="5000" data-u-ride="carousel"
                 class="u-carousel u-expanded-width u-slider u-slider-1">
                <ol th:if="${contests.size() >= 2}"
                    class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                    <li data-u-target="#carousel-5b23" class="u-active u-grey-30"
                        th:attr="data-u-slide-to=${contests.get(0).id}"></li>
                    <li data-u-target="#carousel-5b23" class="u-grey-30"
                        th:each="contest : ${contests.subList(1, contests.size())}"
                        th:attr="data-u-slide-to=${contest.id}"></li>
                </ol>
                <ol th:if="${contests.size() == 0 || contests.size() == 1}"
                    class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                    <li data-u-target="#carousel-5b23" class="u-active u-grey-30"
                        th:attr="data-u-slide-to=0"></li>
                </ol>
                <div th:unless="${contests.size() == 0}" class="u-carousel-inner" role="listbox">
                    <div class="u-active u-carousel-item u-container-style u-slide">
                        <div class="u-container-layout u-container-layout-2">
                            <h1 class="u-custom-font u-text u-text-default u-text-1"
                                th:text="${contests.get(0).getTitle()}">Sample Headline</h1>
                            <a href="#"
                               th:unless="${contests.get(0).getId() == 0}"
                               th:href="@{/contests/{id}(id=${contests.get(0).getId()})}"
                               class="u-btn u-btn-round u-button-style u-gradient u-none u-radius-4 u-text-body-alt-color u-btn-1">
                                Check the contest</a>
                        </div>
                    </div>
                    <div th:if="${contests.size() > 1}">
                        <div th:each="contest : ${contests.subList(1, contests.size())}"
                             class="u-carousel-item u-container-style u-slide">
                            <div class="u-container-layout u-container-layout-3">
                                <h1 class="u-custom-font u-text u-text-default u-text-1"
                                    th:text="${contest.getTitle()}">Sample Headline</h1>
                                <a href="#"
                                   th:unless="${contest.getId() == 0}"
                                   th:href="@{/contests/{id}(id=${contest.getId()})}"
                                   class="u-btn u-btn-round u-button-style u-gradient u-none u-radius-4 u-text-body-alt-color u-btn-1">
                                    Check the contest</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${contests.size() == 0}" class="u-carousel-inner" role="listbox">
                    <div class="u-active u-carousel-item u-container-style u-slide">
                        <div class="u-container-layout u-container-layout-2">
                            <h1 class="u-custom-font u-text u-text-default u-text-1"
                                th:text="'There are no contests for rating yet!'">Sample Headline</h1>
                        </div>
                    </div>
                </div>
                <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-spacing-5 u-text-grey-30 u-carousel-control-1"
                   href="#carousel-338a" role="button" data-u-slide="prev">
            <span aria-hidden="true">
              <svg viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                  c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
            </span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-spacing-5 u-text-grey-30 u-carousel-control-2"
                   href="#carousel-338a" role="button" data-u-slide="next">
            <span aria-hidden="true">
              <svg viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                  c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
            </span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <button class="u-dialog-close-button u-icon u-icon-1">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-39ee"></use>
            </svg>
            <svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-39ee">
                <rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2"
                      height="16"></rect>
                <rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16"
                      height="2"></rect>
            </svg>
        </button>
    </div>
</section>
<style>.u-section-7 {
    min-height: 1226px;
}

.u-section-7 .u-dialog-1 {
    width: 800px;
    min-height: 793px;
    margin: 259px auto 60px;
}

.u-section-7 .u-container-layout-1 {
    padding: 30px;
}

.u-section-7 .u-slider-1 {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 550px;
    height: auto;
}

.u-section-7 .u-carousel-indicators-1 {
    position: absolute;
    bottom: 10px;
}

.u-section-7 .u-container-layout-2 {
    padding: 30px 50px;
}

.u-section-7 .u-text-1 {
    font-family: Aclonica;
    margin: 140px auto 0;
}

.u-section-7 .u-btn-1 {
    background-image: linear-gradient(to right, #478ac9, #2cccc4);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.25);
    margin: 140px auto 0;
    padding: 8px 36px 9px 35px;
}

.u-section-7 .u-container-layout-3 {
    padding: 30px 50px;
}

.u-section-7 .u-carousel-control-1 {
    width: 50px;
    height: 50px;
}

.u-section-7 .u-carousel-control-2 {
    width: 50px;
    height: 50px;
}

.u-section-7 .u-icon-1 {
    width: 20px;
    height: 20px;
}

@media (max-width: 1199px) {
    .u-section-7 .u-dialog-1 {
        height: auto;
    }
}

@media (max-width: 991px) {
    .u-section-7 .u-dialog-1 {
        width: 720px;
    }

    .u-section-7 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-7 .u-container-layout-3 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .u-section-7 .u-dialog-1 {
        width: 540px;
    }

    .u-section-7 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-7 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-7 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-7 .u-dialog-1 {
        width: 340px;
    }
}</style>
</body>
</html>