<!DOCTYPE html>
<html style="font-size: 16px;" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Ranking">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Ranking</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/data-tables/css/bootstrap.min.css}">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" th:src="@{/data-tables/css/mdb.min.css}">
    <!-- MDBootstrap Datatables  -->
    <link th:href="@{/data-tables/css/addons/datatables.min.css}" rel="stylesheet">
    <link rel="stylesheet"
          th:href="@{/data-table.css}">
    <link rel="stylesheet" media="screen"
          th:href="@{/styles.css}">
    <link rel="stylesheet" media="screen"
          th:href="@{/ranking.css}">

    <!--    <script type="text/javascript"-->
    <!--            th:src="@{/data-tables/js/jquery.min.js}" defer=""></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript"
            th:src="@{/data-tables/js/bootstrap.min.js}" defer=""></script>
    <script type="text/javascript"
            th:src="@{/data-tables/js/popper.min.js}" defer=""></script>
    <script type="text/javascript"
            th:src="@{/data-tables/js/mdb.min.js}" defer=""></script>
    <script type="text/javascript"
            th:src="@{/data-tables/js/addons/datatables.min.js}" defer=""></script>
    <script>
        $(document).ready(function () {
            $('#dtDynamicVerticalScrollExample').DataTable({
                "scrollY": "50vh",
                "scrollCollapse": true,
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
    <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica:400">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/pngjoy.com_pixel-art-camera-transparent-pixel-art-hd-png_13790167.png",
        "sameAs": []
    }</script>
    <meta property="og:title" content="ranking">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body u-overlap u-overlap-contrast u-overlap-transparent">
<header class="u-clearfix u-header u-sticky u-header" id="sec-2893" th:insert="index :: index-header"></header>
<section class="u-clearfix u-image u-shading u-section-1" id="sec-58d9" data-image-width="466" data-image-height="700">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-text u-text-default u-text-white u-text-1" data-animation-name="fadeIn"
            data-animation-duration="2000" data-animation-delay="0">Ranking</h1>
        <br>
        <table style="background-color: whitesmoke" id="dtDynamicVerticalScrollExample"
               class="table table-striped table-bordered table-sm" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th class="th-sm">Placement
                </th>
                <th class="th-sm">Username
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${usersByRank}">
                <td th:text="${usersByRank.indexOf(user) + 1}">User placement</td>
                <td th:text="${user}">Current phase</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<div th:insert="index :: index-footer"></div>
</body>
</html>