<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Register">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>register</title>
    <link rel="stylesheet" media="screen"
          href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="stylesheet" media="screen"
          href="../static/register.css" th:href="@{/register.css}">
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
    <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica:400">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/pngjoy.com_pixel-art-camera-transparent-pixel-art-hd-png_13790167.png",
        "sameAs": []
    }</script>
    <meta property="og:title" content="register">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body u-overlap u-overlap-contrast">
<header class="u-clearfix u-header u-sticky u-header" id="sec-2893" th:insert="index :: index-header"></header>

<section class="u-align-left u-clearfix u-custom-color-18 u-section-1" id="carousel_3e8f">
    <div class="u-clearfix u-sheet u-sheet-1">
        <!--welcome-->
        <h2 class="u-custom-font u-text u-text-1" data-animation-name="fadeIn" data-animation-duration="2000"
            data-animation-delay="0" data-animation-direction="">
            Register</h2>
        <p class="u-custom-font u-text u-text-2" data-animation-name="fadeIn" data-animation-duration="2000"
           data-animation-delay="1000">
            Join is in this epic contest amongst the best photo junkies. Fill below fields,
            join us, and prove if you are the best photo junkie there is!</p>
        <img src="../static/images/17tQQSq.gif" alt="an Astronaut"
             th:src="@{/images/17tQQSq.gif}"
             class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-round u-radius-10 u-image-1"
             data-image-width="520" data-image-height="800" data-animation-name="fadeIn"
             data-animation-duration="2000"
             data-animation-delay="0">
        <!-- registration form-->
        <div class="u-form u-form-1">
            <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                  th:object="${personalInfoDto}"
                  class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form"
                  style="padding: 10px" source="custom" name="form" redirect="true" method="POST">
                <!--Username-->
                <div class="u-form-group u-form-name">
                    <label for="name-2567" class="u-custom-font u-label u-label-1">Username</label>
                    <input type="text" placeholder="Enter a username..." id="name-2567" name="username"
                           class="u-border-1 u-border-black u-custom-font u-input u-input-rectangle
                           u-radius-10 u-white u-input-1" required="required"
                           th:field="*{userName}" maxlength="20">
                    <label class="error" th:errors="*{userName}"></label>
                </div>
                <!--Password-->
                <div class="u-form-email u-form-group">
                    <label for="email-2567" class="u-custom-font u-label u-label-2">Password</label>
                    <input type="password" placeholder="Enter a password..." id="email-2567" name="email"
                           class="u-border-1 u-border-black u-custom-font u-input u-input-rectangle
                           u-radius-10 u-white u-input-2" required="required"
                           th:field="*{pass}" minlength="8">
                </div>
                <!--First Name-->
                <div class="u-form-group">
                    <label for="message-2567" class="u-custom-font u-label u-label-3">First name</label>
                    <input placeholder="Enter your first name..." rows="4" cols="50" id="message-2567"
                           name="first-name" maxlength="20"
                           class="u-border-1 u-border-black u-custom-font u-input u-input-rectangle
                           u-radius-10 u-white u-input-3" required="required" type="text"
                           th:field="*{firstName}">
                </div>
                <!--Last Name-->
                <div class="u-form-group u-form-group-4">
                    <label for="text-bb77" class="u-custom-font u-label u-label-4">Last name</label>
                    <input type="text" placeholder="Enter your last name..." id="text-bb77" name="last-name"
                           class="u-border-1 u-border-black u-custom-font u-input u-input-rectangle u-radius-10
                           u-white u-input-4" required="required"
                           th:field="*{lastName}" maxlength="20">
                </div>
                <!--email-->
                <!-- <div class="u-form-group u-form-group-5">
                     <label for="text-045d" class="u-custom-font u-label u-label-5">Email</label>
                     <input type="text" placeholder="Enter an email..." id="text-045d" name="email-1"
                            class="u-border-1 u-border-black u-custom-font u-input u-input-rectangle
                            u-radius-10 u-white u-input-5" required="required" th:field="*{ema}">
                 </div>-->
                <div class="u-align-left u-form-group u-form-submit">
                    <a href="#"
                       class="u-btn u-btn-round u-btn-submit u-button-style u-gradient u-none u-radius-10 u-btn-1">
                        Submit</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <!-- <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent.</div>
                 <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then
                     try again.
                 </div>-->
                <input type="hidden" value="" name="recaptchaResponse">
            </form>
        </div>
    </div>
</section>

<div th:insert="index :: index-footer"></div>
</body>
</html>