<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Review form">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>review-page</title>
    <link rel="stylesheet" media="screen"
          href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="stylesheet" media="screen"
          href="../static/Contests.css" th:href="@{/review-page.css}">
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
    <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica:400">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/pngjoy.com_pixel-art-camera-transparent-pixel-art-hd-png_13790167.png",
        "sameAs": []
    }</script>
    <meta property="og:title" content="review-page">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body u-overlap u-overlap-contrast">
<header class="u-clearfix u-header u-sticky u-header" id="sec-2893" th:insert="index :: index-header"></header>
<section class="u-clearfix u-image u-shading u-section-1" id="carousel_dd02" data-image-width="960"
         data-image-height="540">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h2 class="u-custom-font u-text u-text-body-alt-color u-text-1">Review form</h2>
                            <p class="u-custom-font u-text u-text-body-alt-color u-text-2">Firstly choose if the entry
                                photograph is valid towards the contest's category (check if it is valid).<br>Then
                                proceed with the points rating and the review itself.<br>
                                <br>If the checkbox is not checked, the below fields will not be active for edit.
                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                            <div class="u-form u-form-1">
                                <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${reviewDto}" method="POST"
                                      class="u-clearfix u-form-custom-backend u-form-spacing-30 u-form-vertical u-inner-form"
                                      style="padding: 10px" source="custom" name="form" redirect="true">
                                    <div class="u-form-checkbox u-form-group u-form-group-1">
                                        <!-- todo make a isValid field in reviewDto -->
                                        <input type="checkbox" id="checkbox-e9b8" name="checkbox" value="On"
                                               checked="checked" th:field="*{isValid}" onclick="isChecked();">
                                        <label for="checkbox-e9b8"
                                               class="u-custom-font u-label u-text-body-alt-color u-label-1">Is the
                                            entry valid towards the contest category?</label>
                                    </div>
                                    <div class="u-form-group u-form-select u-form-group-2">
                                        <label for="select-b255"
                                               class="u-custom-font u-label u-text-body-alt-color u-label-2">Points
                                            rating</label>
                                        <div class="u-form-select-wrapper">
                                            <select th:field="*{score}" id="select-b255" name="select"
                                                    class="u-border-1 u-border-white u-custom-font u-input u-input-rectangle u-radius-4 u-white u-input-1"
                                                    required="required">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"
                                                 class="u-caret">
                                                <path fill="currentColor" d="M4 8L0 4h8z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="u-form-group u-form-message">
                                        <label for="message-319a"
                                               class="u-custom-font u-label u-text-body-alt-color u-label-3">Review</label>
                                        <textarea th:field="*{textReview}" placeholder="Enter your review..." rows="4" cols="50"
                                                  id="message-319a" name="review"
                                                  class="u-border-white u-custom-font u-input u-input-rectangle u-radius-4 u-white u-input-2"
                                                  required=""></textarea>
                                    </div>
                                    <div class="u-align-left u-form-group u-form-submit">
                                        <a href="#"
                                           class="u-btn u-btn-round u-btn-submit u-button-style u-custom-font u-gradient u-hover-palette-1-dark-1 u-none u-radius-4 u-btn-1">Submit</a>
                                        <input type="submit" value="submit" class="u-form-control-hidden">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function isChecked()
    {
        if (document.getElementById('checkbox-e9b8').checked === true)
        {
            document.getElementById('select-b255').removeAttribute('disabled');
            document.getElementById('message-319a').removeAttribute('disabled');
        }
        else
        {
            document.getElementById('select-b255').setAttribute('disabled','disabled');
            document.getElementById('message-319a').setAttribute('disabled','disabled');
        }
    }
</script>
<div th:insert="index :: index-footer"></div>
</body>
</html>